<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="menu_hospital_root"
              name="hospital"
               web_icon="om_hostpital,static/description/icon.png"

              sequence="35"
    />
    <menuitem id="menu_patient_master"
              name="Patient Details"
             parent= "menu_hospital_root"/>

     <menuitem id="menu_billing"
              name="Billing"
             parent= "menu_hospital_root"/>

     <menuitem id="menu_appointment_master"
              name="Appointment"
             parent= "menu_hospital_root"

     />

 <menuitem id="menu_configuration"
              name="Configuration"
           groups="group_hospital_doctors"
             parent="menu_hospital_root"
              sequence="100"/>

     <menuitem id="menu_cancel_appointment"
              name="Cancellation"
               action="action_cancel_appointment"
               sequence="20"
             parent="menu_appointment_master"

     />
       <menuitem id="menu_hms_invoicing"
              name="Invoice"
                 action="account.action_move_out_invoice_type"
             parent= "menu_billing"/>

      <menuitem id="menu_hms_payment"
              name="Payment"
                action="account.action_account_payments"
             parent= "menu_billing"/>



</odoo>